<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AAYW</title>
    @Styles.Render("~/Content/mui")
    <link href="@Url.RouteUrl("Theme")" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="click-bar"></div>
    <header>
        @Html.Partial("_Menu")
    </header>
    <main class="body-content mui-container-fluid">
        @RenderBody()
    </main>
    <div id="loading-indicator" style="display: none;">
        <div class="spinner-wrapper active mui--z3 mui--appbar-height mui--appbar-line-height">
            <div class="spinner"></div>
            <h1>
                Loading...
            </h1>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/bundles/nicedit")
    @RenderSection("scripts", required: false)
</body>
</html>
