@{ 
    var userManager = (AAYW.Core.Data.Managers.UserManager)AAYW.Core.Dependecies.Resolver.GetInstance<AAYW.Core.Data.Managers.IManager<User>>();
    var CurrentUser = userManager.CurrentUser;
}
<div class="mui-appbar">
    @Html.Logo(Size.Small)
    <ul class="inline menu">
        <li>
            @Html.RouteLink(Html.Text("Home"), "Home")
        </li>
        @if (userManager.IsAuthorized && CurrentUser != null)
        {
            if (CurrentUser.CurrentRole == AAYW.Core.Models.Bussines.User.User.Role.Admin)
            {
                <li>
                    @Html.RouteLink(Html.Text("AdminHome"), "AdminHome")
                </li>
            }
            <li>
                @Html.RouteLink(Html.Text("Logout"), "Logout")
            </li>
        }
        else
        {
            <li>
                @Html.RouteLink(Html.Text("Login"), "Login")
            </li>
            <li>
                @Html.RouteLink(Html.Text("Register"), "Register")
            </li>
        }
    </ul>
</div>

