@{
    var entities = AAYW.Core.Dependecies.Resolver.Entites;
}
<div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
        @Html.Text("EntityInspector")
        <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu admin-menu">
        @foreach (var type in entities)
        {
            <li><a href="@(Url.RouteUrl("EntityInspector", new { type = type.Key.Name, page = 0 }))">@(type.Key.Name + "s")</a></li>
        }
    </ul>
</div>
@Html.Button(Html.Text("MailSettings"), ButtonType.Raised, Url.RouteUrl("MailSettings"), "mui-btn--primary")
@Html.Button(Html.Text("MailTemplates"), ButtonType.Raised, Url.RouteUrl("MailTemplates", new { page = 0 }), "mui-btn--primary")
