@{
    var entities = AAYW.Core.Dependecies.Resolver.Entites;
}
<div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary mui-btn--raised" data-mui-toggle="dropdown">
        @Html.Text("AdminGeneral")
        <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu admin-menu mui-btn--raised">
        <li><a href="@Url.RouteUrl("ChangeLogo")">@Html.Text("ChangeLogo")</a></li>
        <li><a href="@Url.RouteUrl("ChangeColorTheme")">@Html.Text("ChangeColorTheme")</a></li>
    </ul>
</div>
<div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary mui-btn--raised" data-mui-toggle="dropdown">
        @Html.Text("EntityInspector")
        <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu admin-menu">
        @foreach (var type in entities)
        {
            <li><a href="@(Url.RouteUrl("EntityInspector", new { type = type.Key.Name, page = 0 }))">@(type.Key.Name + "s")</a></li>
        }
    </ul>
</div>
<div class="mui-dropdown">
    <button class="mui-btn mui-btn--primary mui-btn--raised" data-mui-toggle="dropdown">
        @Html.Text("Log")
        <span class="mui-caret"></span>
    </button>
    <ul class="mui-dropdown__menu admin-menu">
        <li><a href="@(Url.RouteUrl("EntireLog"))">@Html.Text("Log_All")</a></li>
        <li><a href="@(Url.RouteUrl("Log", new { count = 50 }))">@Html.Text("Log_Last50")</a></li>
        <li><a href="@(Url.RouteUrl("Log", new { count = 100 }))">@Html.Text("Log_Last100")</a></li>
    </ul>
</div>
@Html.Button(Html.Text("MailSettings"), ButtonType.Raised, Url.RouteUrl("MailSettings"), "mui-btn--primary")
@Html.Button(Html.Text("MailTemplates"), ButtonType.Raised, Url.RouteUrl("MailTemplates", new { page = 0 }), "mui-btn--primary")
@Html.Button(Html.Text("CustomForms"), ButtonType.Raised, Url.RouteUrl("CustomFormsList", new { page = 0 }), "mui-btn--primary")
@Html.Button(Html.Text("ContentBlocks"), ButtonType.Raised, Url.RouteUrl("ContentBlockList", new { page = 0 }), "mui-btn--primary")
@Html.Button(Html.Text("Pages"), ButtonType.Raised, Url.RouteUrl("PageList", new { page = 0 }), "mui-btn--primary")
@Html.Button(Html.Text("Cache"), ButtonType.Raised, Url.RouteUrl("Cache"), "mui-btn--primary")
