@using AAYW.Core.Models.View.UserForm;
@model UserFormField
@{
    var properties = Model.GetType().GetProperties();
}
<div class="field">
    @foreach (var prop in properties)
    {
        <div class="row">
            <label>@Html.Text(prop.Name)</label>
            <div class="@ResolveInputCSS(prop)">
                @if (prop.PropertyType.IsEnum)
                {
                    var value = prop.GetValue(Model);
                    <select name="Fields[@ViewData["Index"]].@prop.Name">
                        @foreach (var val in prop.PropertyType.GetEnumValues())
                        {
                            <option value="@val" 
                                    @if (value.Equals(val))
                                    {
                                        <text>selected</text>
                                    }>
                                @val
                            </option>
                        }
                    </select>
                }
                else
                {
                    <input type="@ResolveInputType(prop)"
                           @if (prop.PropertyType != typeof(bool))
                           {
                               <text>value="@prop.GetValue(Model)"</text>
                           }
                           else
                           {
                               var value = (prop.GetValue(Model).Equals(true)) ? "checked" : "";
                               <text>checked="@value"</text>
                           }
                           name="Fields[@ViewData["Index"]].@prop.Name" />
                }
            </div>
        </div>
    }
</div>
<hr />
@functions  {
    string ResolveInputType(System.Reflection.PropertyInfo info)
    {
        var type = info.PropertyType;
        if (type == typeof(int) ||
             type == typeof(float) ||
             type == typeof(double) ||
             type == typeof(decimal)
             )
        {

            return "number";
        }
        else if (type == typeof(bool))
        {
            return "checkbox";
        }
        else if (type == typeof(DateTime))
        {
            return "datetime-local";
        }
        else
        {
            return "text";
        }
    }

    string ResolveInputCSS(System.Reflection.PropertyInfo info)
    {
        if (info.PropertyType.IsEnum)
        {
            return "mui-select";
        }
        return "mui-textfield";
    }
}