@model AAYW.Core.Models.View.Settings.MailSettings
@{
    ViewBag.Title = Html.Text("MailSettings");
    Layout = "~/Views/Admin/Layout.cshtml";
}


<div class="admin-mail-settings mui-panel">
    <h1>@Html.Text("MailSettings")</h1>
    @using (Html.BeginForm("MailSettings", "Admin", FormMethod.Post))
    {
        <div class="row">
            <label>@Html.Text("MailAdress")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailAdress)
            </div>
        </div>
        <div class="row">
            <label>@Html.Text("MailHost")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailHost)
            </div>
        </div>
        <div class="row">
            <label>@Html.Text("MailPort")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailPort)
            </div>
        </div>
        <div class="row">
            <label>@Html.Text("MailUsername")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailUsername)
            </div>
        </div>
        <div class="row">
            <label>@Html.Text("MailPassword")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailPassword)
            </div>
        </div>
        <div class="row">
            <label>@Html.Text("MailEnableSsl")</label>
            <div class="control mui-textfield">
                @Html.EditorFor(m => m.MailEnableSsl)
            </div>
        </div>
        <div class="row">
            <div class="control">
                @Html.Submit(Html.Text("Save"), ButtonType.Raised)
            </div>
        </div>
    }
</div>