@model Question
@{
    ViewBag.Title = Model.Title;
    var answer = AAYW.DependecyResolver.Resolver.GetInstance<AAYW.Models.ViewModels.AnswerModel>();
    answer.ParentId = Model.Id;
}

<div class="mui-panel">
    <div class="question-full">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
        <div class="question-metadata">
            <div class="question-metadata-views">
                Views: <span>@Model.Views</span>
            </div>
        </div>
    </div>
    <hr />
    @Html.Partial("_AnswerForm", answer)
</div>
@Html.Partial("_Answers", Model.Id)