@{ 
    ViewBag.Title = "Welcome";
}
<div class="landing mui-panel center">
    <img src="~/Content/img/logo-big.png" alt="@Html.Text("LandingWelcome")" />
    <h1>
        @Html.Text("LandingWelcome")
    </h1>
    <p>
        @Html.Text("LandingExplanation")
    </p>
    <p>
        @Html.Text("LandingDetails")
    </p>
    @Html.Button(Html.Text("Home"), ButtonType.Flat, Url.RouteUrl("Home"))
</div>
