@using AAYW.Core.Models.View;
@model LoginModel
@{
    ViewBag.Title = "Login";
}


<div class="mui-row center">
    <div class="mui-col-md-4 mui-col-lg-offset-4">
        <h2>@Html.Text("Login")</h2>
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="error">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="row">
                <div class="control mui-textfield">
                    @Html.EditorFor(m => m.login, new { htmlAttributes = new { placeholder = Html.Text("Login") } })
                </div>
            </div>
            <div class="row">
                <div class="control mui-textfield">
                    @Html.EditorFor(m => m.password, new { htmlAttributes = new { placeholder = Html.Text("Password") } })
                </div>
            </div>
            <div class="row">
                <div class="control">
                    @Html.Submit(Html.Text("Login"), ButtonType.Raised)
                    @Html.Button(Html.Text("Register"), ButtonType.Flat, Url.RouteUrl("Register"))
                </div>
            </div>
        }
    </div>
</div>
