@model AAYW.Core.Models.View.ContentBlock.ContentBlockDesignModel
@{
    var selectList = new List<SelectListItem>();
    selectList.Add(new SelectListItem() { Text = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Feed, Value = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Feed });
    selectList.Add(new SelectListItem() { Text = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Html, Value = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Html });
    selectList.Add(new SelectListItem() { Text = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Redirect, Value = AAYW.Core.Models.Bussines.Admin.ContentBlock.BlockType.Redirect });
}
<div class="popup-editor">

    <h2>@Html.Text("CreateContentBlock")</h2>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.Id)
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary()
            <div class="row">
                <label>@Html.Text("Type")</label>
                <div class="control admin-dropdown type-dropdown">
                    @Html.DropDownList("Type", selectList, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <label>@Html.Text("Name")</label>
                <div class="control mui-textfield">
                    @Html.EditorFor(model => model.Name)
                </div>
            </div>
            <div class="row content-row">
                <label class="target-label">@Html.Text("ContentOrUrl")</label>
                @Html.EditorFor(model => model.Content)
            </div>
            <div class="row">

                <div class="col-md-offset-2 col-md-10">
                    @Html.Submit(Html.Text("Save"), ButtonType.Raised, "submit")
                </div>
            </div>
        </div>
    }
</div>

